:root .page.theme_light {
  --font-color: #353430;
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-color-alt: #ffc2e6;
  --title-decor-font-color: var(--font-color);
  --heading-color: var(--font-color);
  --border-color: var(--font-color);
  --menu-button-hover-color: rgb(50 49 45 / 0.4);
  --rec-display: none;

  --background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__rec {
  --display: none;
}
